* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  box-sizing: border-box;
}
h1 {
  margin-bottom: 20px;
}
.opacity {
  opacity: 0;
}
.alert {
  margin-top: 20px;
  border: 1px solid tomato;
  background-color: thistle;
  color: black;
  width: 150px;
  height: 10em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
input {
  margin-bottom: 20px;
  padding: 5px 10px;
}
